/* AcademyHome.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  background-image: linear-gradient(rgb(231, 212, 235), rgb(152, 211, 23));
  max-width: 100%;
  margin: 0px auto;
  /* padding: 50px; */
  padding-top: 50px;
  background-color: #5fa9ef;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000000;
}

.container header {
  text-align: center;
  margin-bottom: 30px;
}
.container header img {
  width: 760px;
  height: 660px;
  text-align: center;
}

.about h1 {
  margin-bottom: 10px;
}

.about p {
  margin-bottom: 20px;
}

.container main {
  margin-bottom: 40px;
}

.container section {
  margin-bottom: 40px;
}

.about h2 {
  margin-bottom: 10px;
}

.courses ul {
  list-style: none;
  padding: 0;
}

.courses li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container header img {
    width: 400px;
    height: 300px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container header img {
    display: none;
  }
}
