/* styles.css */

/* Global styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: #9dd680;
}

.course-body h1 {
  font-size: 36px;
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.course-container ul li {
  list-style-type: disc;
}
.course-container ol li {
  margin-left: 15px;
  list-style: lower-roman;
}

ul {
  margin-bottom: 15px;
}

li {
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* Course container styles */
.course-body {
  background-color: #b1e398;
  padding: 0px;
}

.course-container {
  background-image: linear-gradient(rgb(231, 212, 235), rgb(152, 211, 23));
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 0px 0px;
  padding: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.course-container h2 a:hover {
  color: rgb(102, 102, 239);
  cursor: pointer;
}

/* .course-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
} */

/* TypeRatingCourse.jsx.css */
.Type-rating-content {
  color: rgb(86, 82, 82);
  margin-bottom: 60px;
}

@media (max-width: 480px) and (max-width: 768px) {
  .course-container {
    margin: 0px 0px 0px 0px;
  }
}
